*{
  border:1px solid;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.app{
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar{
  background-color: grey;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login{
  display: flex;
  align-items: center;
}

.ha{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center
}

main{
  min-height: 80vh;

}

footer{
  background-color: gray;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}