*{
  box-sizing: border-box;
  /* border: 0.5px dashed; */
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(48, 187, 234);
}

header{
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

ul{
  display: flex;
  justify-content: space-between;
}

ol{
 display: flex;
}

main{
  min-height: 80vh;
}

footer{
  min-height: 10vh;
  align-items:center ;
}